<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>location</string>
	</array>
	<key>GOOGLE_MAPS_API_KEY</key>
	<string>$(GOOGLE_MAPS_API_KEY)</string>
	<key>GEMINI_API_KEY</key>
	<string>$(GEMINI_API_KEY)</string>
	<key>GEOGRAPH_API_KEY</key>
	<string>$(GEOGRAPH_API_KEY)</string>
	<key>OPEN_ROUTE_SERVICE_API_KEY</key>
	<string>$(OPEN_ROUTE_SERVICE_API_KEY)</string>
	<key>ORS_BASE_URL</key>
	<string>$(ORS_BASE_URL)</string>
	<key>GRAPHHOPPER_API_KEY</key>
	<string>$(GRAPHHOPPER_API_KEY)</string>
	<key>EBIRD_API_KEY</key>
	<string>$(EBIRD_API_KEY)</string>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>CFBundleShortVersionString</key>
	<string>2.1.27</string>
	<key>CFBundleVersion</key>
	<string>416</string>
</dict>
</plist>
